html
  head
    title= "Supply Depot"
    script(type="module" src="/js/addItem.js")
    link(rel="stylesheet" href="/css/styles.css")
  body
    include nav.pug
    h1 Supply Depot Management

    div#formsWrapper 
      div
        h2 Add New Product
        form(id="productForm")
          label(for="productName") Name: 
          input(type="text" name="name" required)
          label(for="productQuantity") Quantity: 
          input(type="number" name="quantity" required)
          button(type="button" onclick="addItem('product')") Add Product

      div
        h2 Add New Packaging
        form(id="packagingForm")
          label(for="packagingType") Type: 
          select(name="type" required)
            option(value="CARDBOARD_BOX") CARDBOARD BOX
            option(value="CONTAINER") CONTAINER
            option(value="PALLET") PALLET
          label(for="packagingQuantity") Quantity: 
          input(type="number" name="quantity" required)
          button(type="button" onclick="addItem('packaging')") Add Packaging

      div
        h2 Add New Carrier
        form(id="carrierForm")
          label(for="carrierType") Type: 
          select(name="type" required)
            option(value="TRAIN") TRAIN
            option(value="FERRY") FERRY
            option(value="VAN") VAN
            option(value="TRUCK") TRUCK
            option(value="AIRPLANE") AIRPLANE
          label(for="carrierLicensePlate") License Plate: 
          input(type="text" name="licensePlate" required)
          label(for="carrierMaxPackagings") Max Packagings:
          input(type="number" name="maxPackagings" required)
          button(type="button" onclick="addItem('carrier')") Add Carrier

